/* Home.css */
body {
  background-color: #83a2db;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
  max-width: 400px;
  margin: 0 auto;
}
